
@media screen and (max-width: 768px) and (min-width: 600px) {
    .priority-3{
        display:none;
    }
}

@media screen and (max-width: 600px) {
    .priority-3{
        display:none;
    }
    .priority-2{
        display:none;
    }

}


.manager-nav-bar {
    background-color: rgb(139, 156, 204);
}

/* .course-row {
    background-color: aqua;
} */
/* 
$('#myTable tbody tr').click(function() {
    $(this).addClass('bg-success').siblings().removeClass('bg-success');
}); */