.header {
    text-align: center;
    margin-top: 40px;  
}

.followers-span {
    padding-left: 180px;
}

.following-span {
    padding-left: 160px;
}

.btn-padding {
    padding-right: 20px;
}

.length {
    padding-left: 60px;
}

.padding-top {
    padding-top: 40px;
}

.header-padding {
    padding-top: 40px;
    padding-left: 190px;
}

.follow-button {
    width: 50%;
    font-size: 20px;
}

.name {
    font-size: 60px;
}

.create-meal-plan, .edit-profile {
    width: 300px;
    height: 100px;
    font-size: 30px;
    margin-top: 50px;
}
