.recipes-button, .ingredients-button {
    width: 300px;
    height: 100px;
    font-size: 30px;
    margin-top: 80px;
}

.search {
    padding-top: 40px;
    font-size: 80px;
    padding-left: 60px;
}